
.search-page html,
body {

  /* margin: 0px; */
  height: 100%;
}
/* a blue color as a generic focus style */
.search-page button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
.search-page a {
  text-decoration: none;
}

.search-page @font-face {
  font-family: "Helvetica Neue-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/6543e9cea69d613280f7e835/fonts/helvetica.otf")
    format("opentype");
}

.search-page @font-face {
  font-family: "Helvetica Neue-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/63dcde9badcdfbdea71f504c/fonts/helveticaneuemed.ttf")
    format("truetype");
}
